body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
}
.highlite {
    color: coral;
}
.half-width {
    width: 40%;
padding-left: 2%;
margin-left: 5%;
    float: left;}

 .half-width img
  {
    width:100% ;
    
}
.topbanar {
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, hsla(194, 65%, 50%, 0.815), rgba(62, 31, 173, 0.466));
    border-radius: 2px;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
}
p{
    color: rgb(105, 103, 103);
}
.lowerpart{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experiance{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;

}
.botompart{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fullstack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, pink);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(0, 17, 255), rgb(192, 242, 255));
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 12px;
}